button{
    margin: 9px 9px;
    border-radius: 20px ;
    padding: 32px 29px;
    color: white;
    background-color: purple;
    cursor: pointer;  
    
}
input{
    background-color:darkgrey;
    color: black;
    border-radius: 20px;
    padding: 13px 10px;
    cursor: auto;
}
body{
    background-color: aliceblue;
}

